<% include ./partials/_head %>
<div class="row">
    <div class="col-md-2 col-md-offset-5">
    <h1>Stuck</h1>
<form action="/polls" method="POST" class="form-inline">
 <div class="form-group">
    <label for="email">Your email, please.</label>
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>
  </form>
  </div>
  </div>

<% include ./partials/_footer %>

