<% include ./partials/_head %>
<h1>Stuck</h1>
<form action="/polls" method="POST">
    <input id="email" type="text" name="email" style="width: 300px">
    <input type="submit" value="Get unstuck">
</form>

<% include ./partials/_footer %>

