<% include ./partials/_header %>
<section id="poll">
<form id="pollForm">
<input type="text" name="title" placeholder="Enter title">
<br>
<textarea name="description" placeholder="Enter description"></textarea>
</form>
<div>
<form id="choiceForm">
<input type="text" name="choice1" placeholder="Choice 1">
<textarea name="description" placeholder="Enter a description for this choice."></textarea>
<br>
<input type="text" name="choice1" placeholder="Choice 2">
<textarea name="description" placeholder="Enter a description for this choice."></textarea>
<br>
<input type="text" name="choice1" placeholder="Choice 2">
<textarea name="description" placeholder="Enter a description for this choice."></textarea>
<br>
<input type="text" name="choice1" placeholder="Choice 3">
<textarea name="description" placeholder="Enter a description for this choice."></textarea>
</form>
</div>

<i class="fa fa-plus" aria-hidden="true"></i>
</section>
<section id="participants">
  <h2>Enter Participants:</h2>
  <form id="participantForm">
<input type="text" name="participant1" placeholder="Enter email">
</form>
<form id="participantForm1">
<input type="text" name="participant2" placeholder="Enter email">
</form>
<form id="participantForm2">
<input type="text" name="participant3" placeholder="Enter email">
</form>
<form id="participantForm3">
<input type="text" name="participant4" placeholder="Enter email">
</form>
<form id="participantForm4">
<input type="text" name="participant5" placeholder="Enter email">
</form>
</section>


<% include ./partials/_footer %>
