<% include ./partials/_header %>

<article data-poll-id="<%= poll %>">
<div class="row">
  <div class="col-md-4 col-md-offset-3">
   <div class="form-group">
    <label for="pollTitle">Title</label>
    <input type="text" class="form-control" name="title" id="pollTitle" placeholder="What are you trying to describe?">
</div>
</div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-3">
  <div class="form-group">
    <label for="pollDescription">Describe it.</label>
    <textarea class="form-control" rows="3" id="pollDescription" placeholder="Uh huh uh huh, makes sense."></textarea>
</div>
</div>
</div>
</article>

<article data-choice>
<div class="row">
  <div class="col-md-4 col-md-offset-3">
   <div class="form-group">
    <input type="text" class="form-control" id="choice1" placeholder="Choice 1">
</div>
</div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-3">
  <div class="form-group">
    <textarea class="form-control" rows="2" id="choice1desc" placeholder="Uh huh uh huh, makes sense."></textarea>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-3">
   <div class="form-group">
    <input type="text" class="form-control" id="choice2" placeholder="Choice 2">
</div>
</div>
</div>


<div class="row">
  <div class="col-md-4 col-md-offset-3">
  <div class="form-group">
    <textarea class="form-control" rows="2" id="choice2desc" placeholder="Uh huh uh huh, makes sense."></textarea>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-3">
  <div class="form-group">
    <input type="text" class="form-control" id="choice3" placeholder="Choice 3">
</div>
</div>
</div>


<div class="row">
  <div class="col-md-4 col-md-offset-3">
  <div class="form-group">
    <textarea class="form-control" rows="2" id="choice3desc" placeholder="Uh huh uh huh, makes sense."></textarea>
</div>
</div>
</div>
</article>







<% include ./partials/_footer %>
