<% include ./partials/_header %>
<div class=title></div>
<div class=description></div>
<h1> Rank your order </h1>
<ul id="sortable">
  <li class="choice1">Item 1</li>
  <li class="choice2">Item 2</li>
  <li class="choice3">Item 3</li>
  <li class="choice4">Item 4</li>
  <li class="choice5">Item 5</li>
</ul>

<button type="submit">Submit your ranking</button>

<% include ./partials/_footer %>
