<% include ./partials/_header %>



<div class="jumbotron">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Choices</th>
        <th>Participant ID</th>
        <th>Ranking</th>
        <th>Borda Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Choice 1</td>
        <td>1</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Choice 2</td>
        <td>1</td>
        <td>2</td>
        <td>2</td>

      </tr>
      <tr>
        <td>Choice 3</td>
        <td>1</td>
        <td>2</td>
        <td>2</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Results</button>
      <p>
        <form id="adminLink">
          <input type="text" class="form-control" name="adminlink" value="http://localhost:8080/polls/<%= id%>/results">
        </form>
      </p>
      <button type="button" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Share </button>
      <p>
        <form id="adminLink">
          <input type="text" class="form-control" name="adminlink" value="http://localhost:8080/rank/<%= id%>">
        </form>
      </p>
    </div>
  </div>
</div>

<% include ./partials/_footer %>
