<% include ./partials/_header %>



<div class="col-xs-6 col-md-offset-3">
  <h2 class="sub-header"> Rankings </h2>
    <div class="table-responsive">
      <table class="table table-striped">
    <tbody>
    <% for(item in results) { %>
      <tr>
        <td><%= results[item].choicetitle %></td>
      </tr>
    <% } %>

    </tbody>
  </table>
</div>
</div>


 <div class="row">
   <div class="col-md-6 col-md-offset-3">
   <h2> Refresh for new result or use this link </h2>
     <p>
       <form id="adminLink">
         <input type="text" class="form-control" name="adminlink" value="http://localhost:8080/polls/<%= id%>/results">
       </form>
     </p> <br>
     <h2> Share this link with your friends! </h2>
     <p>
       <form id="adminLink">
         <input type="text" class="form-control" name="adminlink" value="http://localhost:8080/rank/<%= id%>">
       </form>
     </p>
   </div>
 </div>

<% include ./partials/_footer %>
