.header-logo {
  font-size:3em;
  font-family:helvetica neue;
  font-weight: bold;
}

.glyphicon .glyphicon-forward {
  height: 20px;
  width: 20px;
}

.container-fluid {
  background-color:rgba(205, 151, 151, 0.3);
  width: 100%;
}
